SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_PASSPHRASE_HASH=
ADMIN_SESSION_SECRET=
CREDENTIAL_PEPPER=
CREDENTIAL_PEPPER_PREVIOUS=
DECKPLATING_MANAGED_HOST=false
CENTRAL_OPERATOR_PASSPHRASE_HASH=
DECKPLATING_DEFAULT_ORGANIZATION_ID=
DECKPLATING_APP_BASE_URL=
DECKPLATING_SETUP_SITE_BASE_URL=
DECKPLATING_ALLOWED_ORIGINS=
DECKPLATING_OPERATOR_EMAIL=
DECKPLATING_FROM_EMAIL=
RESEND_API_KEY=
NOTIFICATION_MODE=disabled
NOTIFICATION_FROM=
NOTIFICATION_REPLY_TO=
NOTIFICATION_PROVIDER_API_KEY=
MAP_TILE_URL=
MAP_TILE_KEY=
MAP_DEFAULT_LATITUDE=
MAP_DEFAULT_LONGITUDE=
INSTALLATION_NAME=
ENABLE_MINISTRY_INDICATORS=false
VITE_ENABLE_MINISTRY_INDICATORS=false
